@model IEnumerable<Synel.Models.UserModel>

<h2> Here is the table of user from csv file</h2>

<table class = "table">
    <tr>
        <th>Payroll_Number</th>
        <th>Forenames</th>
        <th>Surname</th>
        <th>Date_of_Birth</th>
        <th>Telephone</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Address_2</th>
        <th>Postcode</th>
        <th>EMail_Home</th>
        <th>Start_Date</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
        <td>@item.Payroll_Number</td>
        <td>@item.Forenames</td>
        <td>@item.Surname</td>
        <td>@item.Date_of_Birth</td>
        <td>@item.Telephone</td>
        <td>@item.Mobile</td>
        <td>@item.Address</td>
        <td>@item.Address_2</td>
        <td>@item.Postcode</td>
        <td>@item.EMail_Home</td>
        <td>@item.Start_Date</td>
            
        </tr>
    }
</table>
<p><a href = "http://localhost:5230/BufferedFileUpload/""> Go To Upload File</a></p>